*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/inboxrecyclerview
C:\Users\andb3003\AndroidStudioProjects\Samples\InboxRecyclerView
