<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andb.apps.todo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeGlobal"
        android:name=".App"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeGlobal"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppThemeLightCollapse"/>
        <activity
            android:name=".AddTask"
            android:label="@string/title_activity_add_list"
            android:theme="@style/AppThemeGlobal" />
        <activity
            android:name=".TagSelect"
            android:label="@string/title_activity_tag_select"
            android:theme="@style/AppThemeGlobal" />
        <activity
            android:name=".CreateTag"
            android:label="@string/title_activity_create_tag"
            android:theme="@style/AppThemeGlobal" />
        <activity
            android:name=".Archive"
            android:label="@string/title_activity_archive"
            android:theme="@style/AppThemeLightCollapse" />
        <activity
            android:name=".notifications.Reschedule"
            android:exported="true"
            android:label="@string/title_activity_reschedule"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:excludeFromRecents="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".TestActivity"
            android:label="Test"
            android:theme="@style/AppThemeGlobal"
            android:exported="true"
            />

        <service android:name=".notifications.NotificationHandler" />


    </application>

</manifest>