<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andb.apps.todo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".TabExample"
            android:label="@string/title_activity_tab_example"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".AddTask"
            android:label="@string/title_activity_add_list"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".TagSelect"
            android:label="@string/title_activity_tag_select"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".createTag"
            android:label="@string/title_activity_create_tag"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".TaskView"
            android:label="@string/title_activity_task_view"
            android:theme="@style/AppThemeLight.NoActionBar" />
        <activity
            android:name=".Archive"
            android:label="@string/title_activity_archive"
            android:theme="@style/AppThemeLight.NoActionBar"/>


        <service android:name=".NotificationHeadless" />
    </application>

</manifest>